body{
    font-family: "Roboto", sans-serif;

}

h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

img{
    display: block;
    /* width: 100%; */
}

ul,ol{
    list-style-type:none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
}

*,::before,::after{
    box-sizing: border-box;
}

@media screen and (min-width:320px){
    .section-header{
        background-color:#FEFEFE;
    }
    .container{
        width: 320px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0 auto;
    }
    .header-container{
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .navigation-ul {
        display: none;
    }
    .button-header{
        display: none;
    }
    .header-button-mobile{
        border: none;
        background-color: transparent;
        padding: 0;
    }
    .header-burger-menu{
        
    }
    


}

@media screen and (min-width:768px){
    .container{
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
      
    }
    .header-button-mobile{
        display: none;
    }
    .home-link{
    font-weight: 500;
    font-size: 14px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #bbf330;

    }
    .header-container{
    
        align-items: center;
        justify-content: center;
    }
    .navigation-bar {
        display: flex;
        margin-left: auto;
    }

    .navigation-ul {
        display: flex;
        gap: 28px;
    
    }

    .navigation-link {
    font-weight: 400;
    font-size: 14px;
    color: #2c2c2c;
}

    .navigation-link:hover,
    .navigation-link:focus{
    color: #bbf330;
    }

    .button-header {
        display: block;
    margin-left: 30px;
    border-radius: 30px;
    padding: 6px 18px;
    min-width: 98px;
    height: 32px;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    color: #2c2c2c;
    background: #bbf330;
    border: none;
}
    .button-header:hover,
    .button-header:focus{
    background-color: #FFE450;
    
}

}




@media screen and (min-width:1024px){




.container{
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* .section-header {

} */

/* .header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
} */



/* .home-style {

} */





}


/* -------------Section hero-------------- */
.section-hero {
    max-width: 1248px;
    margin-left: auto;
    margin-right: auto;
}

.hero-container {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.hero-content {
    max-width: 511px;
    min-height: 213px;
    display: block;
    margin-top: 159px;
}

.title-hero {
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    line-height: 1.2;
    color: #2c2c2c;
    font-weight: 700;
    margin-bottom: 28px;
}

.text-hero {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #2c2c2c;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero-btn {
    border-radius: 30px;
    border: none;
    min-width: 98px;
    height: 32px;
    padding: 6px 17px;
    background: #bbf330;
    
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    color: #2c2c2c;
    font-weight: 500;
}

.hero-img {
    display: block;
    border-radius: 456px;
    height: 608px;
    width: 608px;
    margin-left: 129px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vector-right {
    position: absolute;
    justify-content: right;
    z-index: 1;
    left: 95%;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    fill: #2c2c2c;
}

.vector-left {
    position: absolute;
    right: 95%;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    fill: #2c2c2c;
}

.ellipse {
    position: absolute;
    display: flex;
    z-index: -1;
}


/* -------------/Section hero-------------- */

.backdrop {
    position: fixed;
    background: rgba(94, 99, 99, 0.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}
.is-open {
    opacity: 1;
    visibility: visible;
}
.modal {
    position: absolute;
    border-radius: 30px;
    height: 449px;
    width: 458px;
    background: #ffe550;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;

}

.close-modal {
    border-radius: 100%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    fill: #fff;
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;

}
.close-modal:hover,
.close-modal:focus {
    background-color: #7eb101;
    color: #fff;
}

.title-form {
    font-size: 24px;
    line-height: 1.2;
    color: #2c2c2c;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.form {}

.form-item:not(:last-child) {
    margin-bottom: 24px;
}

.item-label {
    display: block;
    font-weight: 500;
    line-height: 1.4;
    color: #2c2c2c;
    font-size: 16px;
    margin-left: 12px;
    margin-bottom: 2px;
}

.input-item {
    border: 1px solid rgba(18, 18, 18, 0.12);
    width: 100%;
    height: 48px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    border-radius: 30px;
    padding-left: 12px;
}
.input-item::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: #c4c4c4;
    font-weight: 400;
    
}
.send-btn {
    border: 2px solid #7eb101;
    padding: 10px 20px;
    width: 106px;
    height: 40px;
    background: #fff;
    border-radius: 30px;
    margin-top: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    font-weight: 500;
}
.send-btn:hover,
.send-btn:focus {
    background-color: #bbf330;;
}









